.canvasWrapper svg {
  transform: none;
}
.canvasWrapper svg[data-main-rotation="90"] mask, .canvasWrapper svg[data-main-rotation="90"] use:not(.clip, .mask) {
  transform: matrix(0, 1, -1, 0, 1, 0);
}
.canvasWrapper svg[data-main-rotation="180"] mask, .canvasWrapper svg[data-main-rotation="180"] use:not(.clip, .mask) {
  transform: matrix(-1, 0, 0, -1, 1, 1);
}
.canvasWrapper svg[data-main-rotation="270"] mask, .canvasWrapper svg[data-main-rotation="270"] use:not(.clip, .mask) {
  transform: matrix(0, -1, 1, 0, 0, 1);
}
.canvasWrapper svg.highlight {
  --blend-mode: multiply;
  position: absolute;
  mix-blend-mode: var(--blend-mode);
}
@media screen and (forced-colors: active) {
  .canvasWrapper svg.highlight {
    --blend-mode: difference;
  }
}
.canvasWrapper svg.highlight:not(.free) {
  fill-rule: evenodd;
}
.canvasWrapper svg.highlightOutline {
  position: absolute;
  mix-blend-mode: normal;
  fill-rule: evenodd;
  fill: none;
}
.canvasWrapper svg.highlightOutline:not(.free).hovered:not(.selected) {
  stroke: var(--hover-outline-color);
  stroke-width: var(--outline-width);
}
.canvasWrapper svg.highlightOutline:not(.free).selected .mainOutline {
  stroke: var(--outline-around-color);
  stroke-width: calc(var(--outline-width) + 2 * var(--outline-around-width));
}
.canvasWrapper svg.highlightOutline:not(.free).selected .secondaryOutline {
  stroke: var(--outline-color);
  stroke-width: var(--outline-width);
}
.canvasWrapper svg.highlightOutline.free {
  /*
          When drawing the outline we use a mask in order to remove the parts
          that are inside the shape. Unfortunately, this removes the part of the
          outline that is inside the shape. To "fix" this we increase the width
          to have what we want to be visible outside the shape.
          This is not a perfect solution, but it works well enough.
        */
}
.canvasWrapper svg.highlightOutline.free.hovered:not(.selected) {
  stroke: var(--hover-outline-color);
  stroke-width: calc(2 * var(--outline-width));
}
.canvasWrapper svg.highlightOutline.free.selected .mainOutline {
  stroke: var(--outline-around-color);
  stroke-width: calc(2 * (var(--outline-width) + var(--outline-around-width)));
}
.canvasWrapper svg.highlightOutline.free.selected .secondaryOutline {
  stroke: var(--outline-color);
  stroke-width: calc(2 * var(--outline-width));
}
